<mjml>
  <mj-body>
    <mj-include path="./details.mjml" />
    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text align="center" mj-class="text-lead">
            Silverbacks Improv Theatre in partnership with Acadiana Center for the Arts is proud to welcome Kevin McDonald of Kids in the Hall fame to Lafayette to teach a day-long workshop in Improv and Sketch Comedy.
          </mj-text>
          <mj-text mj-class="tirtiary-headline">Saturday, September 16, 2017</mj-text>
          <mj-text mj-class="tirtiary-headline">Workshop begins at 10am and concludes with a performance at 7:30pm</mj-text>
          <mj-text>
            Actors, comedians and complete novices will have a unique opportunity to study Improv and Sketch comedy with Kevin McDonald of the legendary comedy group, KIDS IN THE HALL. The Kids in the Hall is a Canadian sketch comedy group whose eponymous television
            show ran from 1989 to 1995 on CBC in Canada, and CBS, HBO, and Comedy Central in the United States.
          </mj-text>
          <mj-text>
            In this day-long workshop, Mr. McDonald will teach students the Kids in the Hall method of writing sketches through improvisation.
          </mj-text>
          <mj-text>
            By the end of the day, students will have created brand new comedy sketches ready to be performed for the public at the Acadiana Center for the Arts that evening. The evening show will include the students performing sketch comedy, a stand-up performance
            by Kevin McDonald, and an improv set with Mr. McDonald and Lafayette’s own Silverbacks Improv Theatre!
          </mj-text>
          <mj-text>
            The class is limited to 35 participants—students are urged to sign up early by clicking here.
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-column>
          <mj-text mj-class="secondary-headline">About Silverbacks:</mj-text>
          <mj-text>Silverbacks Improv Theatre (Lafayette, LA) mixes special improvised brews for audiences across the U.S. Favorite improv creations include Film Noirs, 90's Sitcoms, and Sci-Fi's. The Silverbacks are always energetic, nerd-tastic, and not afraid
            of costumes. The Silverbacks consists of members who have trained and performed in places as far as Mississippi, Texas, Illinois, California, and D.C. with a combined total of over 75 years of improv experience. Silverbacks Improv Theatre
            performs monthly at Theatre 810 and produces Improv Night at Downtown Lafayette’s 2nd Saturday Art Walk at Cité des Arts. More information can be found at <a href="http://www.silverbacksimprov.com">www.silverbacksimprov.com</a> The Silverbacks
            are also available for classes, workshops, corporate training, and tailored experiences.</mj-text>
          <mj-text>
            For additional information, visit <a href="http://silverbacksimprov.com">silverbacksimprov.com</a>
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-include path="./learn.mjml" />
        <mj-include path="./tickets.mjml" />
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>