<mj-section>
  <mj-column>
    <mj-button border="1px solid #e2231a" background-color="#FFF" color="#e22e1a" href="https://dream.acadianacenterforthearts.org">
      <strong>Dream</strong>&nbsp;With&nbsp;Us
    </mj-button>
    <mj-spacer height="100px"></mj-spacer>
  </mj-column>
</mj-section>