<mjml>
  <mj-body>
  <mj-include path="./details.mjml" />
    <mj-section>
      <mj-column>
        <mj-text align="center" mj-class="text-lead">
        Jugendlich euch um einst Glück Wie wiederholt Tage; Erste Vom Busen froher
herauf Gleich umwittert. Lauf, früh die um gut, die, Zauberhauch Des Und
gezeigt? Euren Stunden Gestalten! Wieder, walten.
</mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-include path="./learn.mjml" />
      <mj-include path="./tickets.mjml" />
    </mj-section>
  </mj-body>
</mjml>
