<mjml>
  <mj-body background-color="white">
    <mj-section full-width="full-width" background-url="https://mlsvc01-prod.s3.amazonaws.com/070f08aa001/7e2025ec-c150-4641-b0ea-df048428cc72.jpg?ver=1507323540000" background-size="cover">
      <mj-column>
        <mj-spacer height="500px"></mj-spacer>
        <mj-raw>
          <!-- <mj-image width="600" src="https%3A%2F%2Fmlsvc01-prod.s3.amazonaws.com%2F070f08aa001%2F9e28baa9-1240-4a6c-a612-c2db4888b3cb.jpg%3Fver%3D1506094374000" /> --></mj-raw>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-spacer></mj-spacer>
        <mj-text mj-class="tirtiary-headline" align="center">A Crochet Workshop</mj-text>
        <mj-text mj-class="primary-headline text-primary" align="center">Making Of A Women's Tea Room</mj-text>
        <mj-text mj-class="secondary-headline" align="center">Yeon Choi</mj-text>
        <mj-spacer></mj-spacer>
        <mj-text mj-class="tirtiary-headline" align="center"><strong>October 14</strong> from 4pm-8pm<br/> Acadiana Center for the Arts</mj-text>
        <mj-spacer></mj-spacer>
        <mj-text>Making of a Women's Tea Room is a playful public workshop that is free and open to the public. Anyone can participate in this workshop, regardless of experience with crocheting. All materials will be provided so you don’t have to bring anything;
          however, you can choose to bring your own yarns, hooks, or patterns if you want to do so.</mj-text>
        <mj-text>There will be video instructions and assistants to teach the beginners how to crochet. You can crochet your own works and take what you make home or choose to donate your works. Works donated (name will be listed in credits) will be used for the
          exhibit, Women’s Tea Room Part 2: Served in a Women’s Tea Room at the AcA April 2018.</mj-text>
        <mj-text>Let’s crochet, connect with others, and share the experience of creating art together.</mj-text>
        <mj-text>Workshop is FREE. Registration is not required. Feel free to come and go between the hours of 4–8pm.</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>