<mj-section>
  <mj-column>
    <mj-image src="http://img.youtube.com/vi/ypJ3dP7qCpE/1.jpg" align="center" href="https://www.youtube.com/watch?v=ypJ3dP7qCpE"></mj-image>
    <mj-text align="center">The Mavericks - Back In Your Arms Again</mj-text>
  </mj-column>
  <mj-column>
    <mj-image src="http://img.youtube.com/vi/-UajuBAUkBs/2.jpg" align="center" href="https://www.youtube.com/watch?v=-UajuBAUkBs"></mj-image>
    <mj-text align="center">The Mavericks - Dance The Night Away</mj-text>
  </mj-column>
  <mj-column>
    <mj-image src="http://img.youtube.com/vi/cos9y6Mfv6s/1.jpg" align="center" href="https://www.youtube.com/watch?v=cos9y6Mfv6s"></mj-image>
    <mj-text align="center">The Mavericks - Here Comes My Baby</mj-text>
  </mj-column>
</mj-section>