<mjml>
  <mj-head>
  	<mj-include path="../partials/head.mjml" />
  </mj-head>
  <mj-body>
    <mj-include path="../partials/navbar.mjml" />
    <mj-include path="../content/s7/aca_presents/shovels_and_rope/content_announce.mjml" />
    <mj-include path="../partials/footer.mjml" />
  </mj-body>
</mjml>
