<mjml>
  <mj-body>
    <mj-include path="./details.mjml" />
    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text mj-class="text-lead">
            Ray Benson founded Asleep at the Wheel in Paw Paw, West Virginia 46 years ago. Now based in Austin, the band holds 10 Grammy awards, 20 studio albums and 20 singles on the Billboard country charts. The Grammy Award-winning Still The King: Celebrating
            the Music of Bob Wills and His Texas Playboys is the band’s most recent release (2015) and marks their third full-length Bob Wills tribute album. Featuring 22 acclaimed collaborations, the all-star line up includes legends such as Willie Nelson,
            Merle Haggard and George Strait and newcomers like The Avett Brothers, Amos Lee, Old Crow Medicine Show and many other fine talents.
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-include path="./learn.mjml" />
        <mj-include path="./tickets.mjml" />
      </mj-section>
    </mj-wrapper>
    <mj-include path="./video.mjml" />
  </mj-body>
</mjml>