<mj-wrapper>
  <mj-section>
    <mj-column>
      <mj-text>FOR EDUCATORS</mj-text>
      <mj-text mj-class="primary-headline text-primary">Linking Language and Dance</mj-text>
      <mj-spacer></mj-spacer>
      <mj-text mj-class="secondary-headline">Thursday, January 25, 2018</mj-text>
      <mj-text mj-class="secondary-headline">4:30-7:30 PM</mj-text>
      <mj-text mj-class="secondary-headline">Acadiana Center for the Arts</mj-text>
      <mj-text mj-class="secondary-headline">For teachers of grades 2-4 and English Language Learners</mj-text>
    </mj-column>
  </mj-section>
  <mj-section>
    <mj-column>
      <mj-image align="left" src="https://mlsvc01-prod.s3.amazonaws.com/070f08aa001/8f4d6151-5b55-496f-b70e-a8b202a42ced.jpg?ver=1506974766000" width="100px"></mj-image>
      <mj-text mj-class="tirtiary-headline">Cissy Whipp, Kennedy Center Teaching Artist</mj-text>
    </mj-column>
  </mj-section>
</mj-wrapper>