<mjml>
  <mj-body>
    <mj-include path="./details.mjml" />
    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text mj-class="text-lead" align="center">
            We find ourselves in ever-divisive social-political times. The Tempest ponders distinguishing men from monsters, the desire to rule, power relationships, and ultimately surrendering power for the hope of the future. Our concept illuminates the feminine
            elements of mother earth, as well as the importance of books and intellectualism.
          </mj-text>
          <mj-text mj-class="text-lead" align="center">
            The professional company members of Acting Up (in Acadiana) anchor the cast which also includes members of the community. Amy Waguespack directs with Chad Trahan as costume designer, Hector LaSala as set designer, Shane Courville as composer, Brian Schneider
            as lighting designer, and Destin Briant as media designer. Sarah Mikayla Brown, Lian Cheramie and George Saucier assist Waguespack.
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-include path="./learn.mjml" />
        <mj-include path="./tickets.mjml" />
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>