<mjml>
  <mj-body>
    <mj-include path="./details.mjml" />
    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text mj-class="text-lead">
            globalFEST On The Road is a flexible touring and curating concept based on globalFEST's annual flagship festival in New York City, a one-day event that showcases a dizzying range of musicians from around the globe.
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-column>
          <mj-text mj-class="secondary-headline text-primary">
            Las Cafeteras
          </mj-text>
          <mj-text>The six-piece band Las Cafeteras began as a group of students at Eastside Cafe, a community space in East Los Angeles, where they learned to play son jarocho, a traditional music style from Veracruz, a state in the Gulf of Mexico. All of the
            band's members are children of immigrants.</mj-text>
          <mj-text>The group features traditional Mexican folk instruments including the jarana, an 8-string guitar; the quijada, a donkey jawbone (which serves as a percussive scraper) and a tarima, a wooden platform for dancing. While rooted in son jarocho,
            the LA Times called their sound a "uniquely Angeleno mishmash of punk, hip-hop, beat music, cumbia and rock." It's a mix-and-match of styles and sources that serves to deliver socially conscious lyrics, in both English and Spanish.</mj-text>
          <mj-text>"We're organizers. We're movement kids," said band member David Flores in a recent interview. "But we don't say we're political. We say we're storytellers. It's just not the mainstream story."</mj-text>
          <mj-text>They have released two recordings. Their song "La Bamba Rebelde", a politically-charged remake of "La Bamba" (perhaps the most famous son jarocho) from their CD It's Time (2012) became a theme song for the telenovela Bajo El Mismo Cielo on the
            Telemundo network. Las Cafeteras' second album, Tastes Like LA, featuring the powerful song "If I Was President", was released in April 2016.</mj-text>
        </mj-column>
        <mj-column>
          <mj-text mj-class="secondary-headline text-primary">
            Orkesta Mendoza
          </mj-text>
          <mj-text>Orkesta Mendoza, originally founded by singer and guitarist Sergio Mendoza in 2009 to play a 20-minute tribute set honoring Cuban mambo king, Dámaso Perez Prado, is a dapper sextet that plays a high-energy combination of mambo, cumbia, psychedelia
            and rock. The Orkesta´s music, arranged to suggest a big band with a touch of lo-fi electronics, speaks of a borderless world in which US culture and Latin traditions come together.</mj-text>
          <mj-text>“I think it has to do with being near the border,” explained Mendoza, who also toured and recorded with Calexico, in an interview with the online magazine Rhythm Passport. “I grew up in Nogales, Sonora. Living in Mexico exposed me to cumbia
            and many regional styles of Mexico, such as mariachi and norteño. When I was 7, I moved to Nogales, Arizona. I started getting into American music and that is where the mixture of cultures begins.”</mj-text>
          <mj-text>“From about 12 to 24 I completely forgot about Latin music. I studied a bit of many styles of music during that time. A little jazz, salsa, ska and a lot of classic rock and roll. I took a little bit from all the styles I had played and that’s
            how I started Orkesta Mendoza. Today we just want to rock more. Of course, it is Latin-based, but we like turning up our amps and consider ourselves a rock band.”</mj-text>
          <mj-text>It’s the music of ¡Vamos a Guarachar! (Let’s Party!), the band’s most recent release and an invitation to dance with a travelogue of styles that goes from surf rock to mambo and pop rock.</mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-include path="./learn.mjml" />
        <mj-include path="./tickets.mjml" />
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>