<mjml>
  <mj-head>
    <mj-include path="../partials/head.mjml" />
  </mj-head>
  <mj-body>
    <mj-include path="../partials/navbar.mjml" />
    <mj-include path="../content/s8/theater/cajunface_2/content.mjml" />
    <mj-include path="../partials/footer.mjml" />
  </mj-body>
</mjml>
