<mjml>
  <mj-body>
    <mj-include path="./details.mjml" />
    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text mj-class="text-lead">
            A firecracker of talent that powers one of the hottest shows in any genre of music!
          </mj-text>
          <mj-text>
            World Class Musicians, and an Award Winning Voice seamlessly set the stage for a breath-taking, one-of-a-kind, must-see performance; that reaches beyond the boundaries of bluegrass music!
          </mj-text>
          <mj-text>
            Written words can give you but a glimpse of the artist known as The Queen of Bluegrass, as deemed by the Wall Street Journal. But it’s only when you see this artist, that you can feel the energy and experience the excitement of her music, to truly know
            why she and her amazing band are the “Most Award Winning Band in Bluegrass Music History, with over 100 awards!”</mj-text>
          <mj-text>
            Breaking a stereotypical image, Rhonda Vincent takes the stage in designer gowns, stiletto heels, in a take-charge manner, far from the type set that Hollywood has portrayed as the image of acoustic music.
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-include path="./learn.mjml" />
        <mj-include path="./tickets.mjml" />
      </mj-section>
    </mj-wrapper>
    <mj-include path="./video.mjml" />
  </mj-body>
</mjml>