<mjml>
  <mj-body>
    <mj-include path="./details.mjml" />
    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text mj-class="text-lead">
            Ballet Acadiana presents Le Papillon: Celebrating Floyd Sonnier's Acadiana: Original performance featuring a marvelous melange of art, folk ballet, ballet, original and live music provided by The Has Beans, bilingual narration by adult and child actors,
            with a technical component in projecting iconic drawings of Floyd Sonnier onto stage where they come to life with the collaboration. This unique cultural product is a salute to Acadian culture and life in Acadiana, providing a glimpse of the
            1930-50 era remembered and sketched in Sonnier’s authentic style. Don’t miss this important authentic expression of a unique cultural identity, which absolutely needs to be expressed in multiple art forms!
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-include path="./learn.mjml" />
        <mj-include path="./tickets.mjml" />
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>