<mjml>
  <mj-body>
    <mj-include path="./details.mjml" />
    <mj-wrapper>
      <mj-include path="./mezzanine_notice.mjml" />
      <mj-section>
        <mj-column>
          <mj-text mj-class="text-lead">
            Praised by the New York Times as “a singer with a strong and luscious tone and an amiably regal presence on stage”, Alicia Olatuja has been astounding audiences with her exquisite vocals, artistic versatility and captivating demeanor. She first came into
            the national spotlight in 2013, whilst performing as the featured soloist with the Brooklyn Tabernacle Choir at President Barack Obama’s Second Inauguration. Shortly thereafter, she assembled her own jazz based ensemble and recorded her first
            solo album, Timeless (2014).
          </mj-text>
          <mj-text>
            Originally from St. Louis, MO, Alicia grew up immersed in a wide range of musical styles, including gospel, soul, jazz and classical. These influences have informed her artistic journey, and she later graduated with a Masters degree in Classical Voice/Opera
            from the Manhattan School of Music. After appearing in numerous operatic and musical theater productions, she started to perform more regularly in gospel and jazz concerts and worked with such esteemed artists as Chaka Khan, BeBe Winans and
            Christian McBride.
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-include path="./learn.mjml" />
        <mj-include path="./tickets.mjml" />
      </mj-section>
    </mj-wrapper>
    <mj-include path="./video.mjml" />
  </mj-body>
</mjml>