<mj-wrapper>
  <mj-section>
    <mj-column>
      <mj-image src="https://mlsvc01-prod.s3.amazonaws.com/070f08aa001/56120ab0-f671-4bdd-9f11-644b2709f24e.jpg?ver=1502987173000"></mj-image>
    </mj-column>
  </mj-section>
  <mj-section>
    <mj-column>
      <mj-spacer></mj-spacer>
      <mj-text align="center" mj-class="text-seondary primary-headline">Alicia Olatuja</mj-text>
    </mj-column>
  </mj-section>
  <mj-section>
    <mj-column>
      <mj-image width="50px" src="https://mlsvc01-prod.s3.amazonaws.com/070f08aa001/6cf7f4c6-4595-42ec-a3f1-563dde24073a.png?ver=1502994152000"></mj-image>
      <mj-text align="center" mj-class="text-secondary text-uppercase">March 3</mj-text>
    </mj-column>
    <mj-column>
      <mj-image width="50px" src="https://mlsvc01-prod.s3.amazonaws.com/070f08aa001/f87374c2-4963-4357-af71-e3bfaa51c051.png?ver=1502724738000"></mj-image>
      <mj-text align="center" mj-class="text-secondary text-uppercase">7:30p</mj-text>
    </mj-column>
    <mj-column>
      <mj-image width="50px" src="https://mlsvc01-prod.s3.amazonaws.com/070f08aa001/8d10f40e-cf5b-4a1f-87ce-9ccb605094e4.png?ver=1502994152000"></mj-image>
      <mj-text align="center" mj-class="text-secondary text-uppercase">Acadiana Center<br>for the Arts</mj-text>
    </mj-column>
  </mj-section>
</mj-wrapper>