<mjml>
  <mj-body>
    <mj-include path="./details.mjml" />
    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text align="center" mj-class="text-lead">
            ‘Something wicked this way comes’
          </mj-text>
          <mj-text align="center">
            Returning home from battle, the victorious Macbeth meets three witches on the heath. Driven by their disturbing prophecies, he sets out on the path to murder.
          </mj-text>
          <mj-text align="center">
            Our contemporary production of Shakespeare’s darkest psychological thriller marks both Christopher Eccleston’s RSC debut and the return of Niamh Cusack to the Company.
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-include path="./learn.mjml" />
        <mj-include path="./tickets.mjml" />
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>