<mjml>
  <mj-body>
    <mj-include path="./details.mjml" />
    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text mj-class="text-lead">True to its name, Cameron Carpenter’s International Touring Organ isn’t stationary. Since its debut last year, it has become Carpenter’s instrument of choice, quickly eclipsing the pipe organ. “It’s where my heart lies,” he says.</mj-text>
          <mj-text>The International Touring Organ is the eighth organ by Marshall & Ogletree, the Needham, Massachusetts organ builders redefining the digital organ as an instrument of artistic significance. Its concept is simple: innovate the relationship between
            organ and organist. While the uniqueness of each pipe organ is part of its collective magic, this makes it impossible to perform the same music regardless of where the organist plays, as any violinist can do through a relationship of years
            with a single instrument.</mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-include path="./learn.mjml" />
        <mj-include path="./tickets.mjml" />
      </mj-section>
    </mj-wrapper>
    <mj-include path="./video.mjml" />
  </mj-body>
</mjml>