<mj-wrapper>
  <mj-section>
    <mj-column>
      <mj-image src="https://mlsvc01-prod.s3.amazonaws.com/070f08aa001/3314f5d9-35e9-493c-ab6c-56b3880effb9.jpg?ver=1502987178000" />
    </mj-column>
  </mj-section>
  <mj-section>
    <mj-column>
      <mj-spacer/>
      <mj-text align="center" mj-class="text-seondary primary-headline">
        Cameron Carpenter and The International Touring Organ
      </mj-text>
    </mj-column>
  </mj-section>
  <mj-section>
    <mj-column>
      <mj-image width="50px" src="https://mlsvc01-prod.s3.amazonaws.com/070f08aa001/6cf7f4c6-4595-42ec-a3f1-563dde24073a.png?ver=1502994152000" />
      <mj-text align="center" mj-class="text-secondary text-uppercase">
        March 27, 2018
      </mj-text>
    </mj-column>
    <mj-column>
      <mj-image width="50px" src="https://mlsvc01-prod.s3.amazonaws.com/070f08aa001/f87374c2-4963-4357-af71-e3bfaa51c051.png?ver=1502724738000" />
      <mj-text align="center" mj-class="text-secondary text-uppercase">7:30p</mj-text>
    </mj-column>
    <mj-column>
      <mj-image width="50px" src="https://mlsvc01-prod.s3.amazonaws.com/070f08aa001/8d10f40e-cf5b-4a1f-87ce-9ccb605094e4.png?ver=1502994152000" />
      <mj-text align="center" mj-class="text-secondary text-uppercase">
        Acadiana Center<br>for the Arts
      </mj-text>
    </mj-column>
  </mj-section>
</mj-wrapper>